<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>메인화면</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
   <div class="container" align="center">
    <h3 class="form-signin-heading text-center mb-5">💚대시보드💚</h3>
   <h4 class="overview-normalize">접속 아이디</h4>
   <hr/>
   <h4 class="overview-normalize">이동 권한 확인</h4>
    <p>
        <button onclick="" class="btn btn-sm btn-success">관리자페이지(관리자만)</button>
        <button onclick="" class="btn btn-sm btn-info">유저페이지(유저만)</button>
    </p>
    <hr/>
    <form method="post" action="/logout">
        <button class="btn btn-sm btn-danger btn-block" type="submit" id="logoutbtn">로그아웃</button>
    </form>

</div>
   
</body>
</html>